<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Home</servlet-name>
        <servlet-class>controller.Home</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StaffServlet</servlet-name>
        <servlet-class>controller.StaffServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Load</servlet-name>
        <servlet-class>controller.Load</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UdpateASG</servlet-name>
        <servlet-class>controller.UdpateASG</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertASG</servlet-name>
        <servlet-class>controller.InsertASG</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteASG</servlet-name>
        <servlet-class>controller.DeleteASG</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccountASG</servlet-name>
        <servlet-class>controller.AccountASG</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccountStaff</servlet-name>
        <servlet-class>controller.AccountStaff</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteAccountStaff</servlet-name>
        <servlet-class>controller.DeleteAccountStaff</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GuestServlet</servlet-name>
        <servlet-class>controller.GuestServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteGuest</servlet-name>
        <servlet-class>controller.DeleteGuest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccountGuest</servlet-name>
        <servlet-class>controller.AccountGuest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteAcccountGuest</servlet-name>
        <servlet-class>controller.DeleteAcccountGuest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookingServlet</servlet-name>
        <servlet-class>controller.BookingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookingGuestServlet</servlet-name>
        <servlet-class>controller.BookingGuestServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookingsSatus</servlet-name>
        <servlet-class>controller.BookingsSatus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteBooking</servlet-name>
        <servlet-class>controller.DeleteBooking</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HistoryBookingGuest</servlet-name>
        <servlet-class>controller.HistoryBookingGuest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PaymentServlet</servlet-name>
        <servlet-class>controller.PaymentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PaymentAddmin</servlet-name>
        <servlet-class>controller.PaymentAddmin</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Home</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StaffServlet</servlet-name>
        <url-pattern>/staff</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UdpateASG</servlet-name>
        <url-pattern>/updateasg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertASG</servlet-name>
        <url-pattern>/insertasg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteASG</servlet-name>
        <url-pattern>/deleteasg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AccountStaff</servlet-name>
        <url-pattern>/accountstaff</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteAccountStaff</servlet-name>
        <url-pattern>/deleteaccountstaff</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GuestServlet</servlet-name>
        <url-pattern>/guest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteGuest</servlet-name>
        <url-pattern>/deleteguest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AccountGuest</servlet-name>
        <url-pattern>/accountguest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteAcccountGuest</servlet-name>
        <url-pattern>/deleteacccountguest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookingServlet</servlet-name>
        <url-pattern>/booking</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookingGuestServlet</servlet-name>
        <url-pattern>/bookingguest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookingsSatus</servlet-name>
        <url-pattern>/bookingstatus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteBooking</servlet-name>
        <url-pattern>/deletebooking</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HistoryBookingGuest</servlet-name>
        <url-pattern>/historybookingguest</url-pattern>
    </servlet-mapping>
    <!--Hieu-->
    <servlet>
        <servlet-name>LoadToHome</servlet-name>
        <servlet-class>controller.LoadToHome</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchToHome</servlet-name>
        <servlet-class>controller.SearchToHome</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddNewRoom</servlet-name>
        <servlet-class>controller.AddNewRoom</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteByRoomID</servlet-name>
        <servlet-class>controller.DeleteByRoomID</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddNewRoomType</servlet-name>
        <servlet-class>controller.AddNewRoomType</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RoomTypeControl</servlet-name>
        <servlet-class>controller.RoomTypeControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateRoom</servlet-name>
        <servlet-class>controller.UpdateRoom</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteRoomType</servlet-name>
        <servlet-class>controller.DeleteRoomType</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditRoomType</servlet-name>
        <servlet-class>controller.EditRoomType</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoadToHome</servlet-name>
        <url-pattern>/loadtohome</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchToHome</servlet-name>
        <url-pattern>/searchtohome</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddNewRoom</servlet-name>
        <url-pattern>/addnewroom</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteByRoomID</servlet-name>
        <url-pattern>/deletebyroomid</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddNewRoomType</servlet-name>
        <url-pattern>/addnewroomtype</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RoomTypeControl</servlet-name>
        <url-pattern>/roomtypecontrol</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateRoom</servlet-name>
        <url-pattern>/updateroom</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteRoomType</servlet-name>
        <url-pattern>/deleteroomtype</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditRoomType</servlet-name>
        <url-pattern>/editroomtype</url-pattern>
    </servlet-mapping>
    <Connector connectionTimeout="20000" maxHttpHeaderSize="65536" port="8080" protocol="HTTP/1.1" redirectPort="8443"/>
    <servlet-mapping>
        <servlet-name>PaymentServlet</servlet-name>
        <url-pattern>/payment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PaymentAddmin</servlet-name>
        <url-pattern>/paymentaddmin</url-pattern>
    </servlet-mapping>
</web-app>
